:root {
    --vermelho:#E50914;
    --preto:#141414;
    --branca: #FFFFFF;
    --cinza: #AAA;
    --cinza-escuro: rgb(150, 150, 150);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color:var(--branca);

}
/* Barra de navegação */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family:'Arial Black', Times;
    font-size: 40px;
    margin-left: 7px;

}

header nav a {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;

}

header nav a:hover {
    color: var(--branca);
}

.icon-header i{
    padding: 5px;
    cursor: pointer;
    margin-left: 7px;
    font-size: 25px;
}

/** Documentário principal */
.doc-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)100%), url("../image/democracia.jpg");
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.doc-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.doc-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.doc-principal .container {
    width: 70%;
}

.container {
    margin-left: 30px;
}
.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color:var(--branca);

    padding: 15px 30px 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    text-align: center;

    cursor: pointer;
    transition: .3s ease all;

}.botao:hover {
    background-color: var(--branca);
    color: var(--preto);
}

.botao i {
    margin-right: 8px;
}

.box-doc {
    height: 100%;
    width: 100%;
    display: block;
}
.carrossel-doc{
    margin-top: 5px;
}


/* Rodapé */

footer{
    background-color: #000;
    margin: 0;
    padding: 20px;
    text-align: center;
}

